/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* @import "bootstrap"; */


input, label { display: inline; }


 /* The navigation bar */
 .navbar {
     overflow: hidden;
     background-color: #333;
     position: fixed; /* Set the navbar to fixed position */
     top: 0; /* Position the navbar at the top of the page */
     width: 100%; /* Full width */
 }

 /* Links inside the navbar */
 .navbar a {
     float: left;
     display: block;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }

 /* Change background on mouse-over */
 .navbar a:hover {
     background: #ddd;
     color: black;
 }

 /* Main content */
 .main {
   padding: 1px;
   margin-top: 30px;
 }

 tr {
   border-bottom: 1px black solid;
}



 .c7A3 {
   background-color: rgb(210, 56, 193);
   color: white;
 }
 .c8X3 {
   background-color: rgb(162, 93, 154);
   color: white;
 }
 .c8Y4 {
   background-color: rgb(94, 99, 135);
   color: white;
 }
 .c9-5 {
   background-color: rgb(242, 154, 0);
   color: white;
 }
 .c10-1B {
   background-color: rgb(0, 153, 230);
   color: white;
 }
 .c11-2{
   background-color: rgb(77, 199, 66);
   color: white;
 }

.not_current{
  background-color: #D3D3D3;
}

#class_group_page_archive {
  background-color: #e1ebf5;
}

.resubmit {
  background-color: #FFC0CB;
}

.merit {
  background-color: #cce3b5;
}

.amber {
  background-color: #FFFFE0;
}

.null {
  background-color: #FFFFFF;
}

.centre {
  text-align: center;
}

.wrapper {
  display: table;
  width:100%;
}

.col {
  display: table-cell;
  padding:5px;
/*  border: 1px blue dashed; */
}

.head {
  width:100%;
  float:left;
}

.hidden {
   opacity:0;
}

.show {
  opacity: 100;
}



.ui-widget-header,.ui-state-default, ui-button {
   background:#b9cd6d;
   border: 1px solid #b9cd6d;
   color: #FFFFFF;
   font-weight: bold;
}
