// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.field_in_line {
  float: left;
  padding-left: 10px;
}

textarea {
  resize: vertical;
}

.checkbox_field {
  float: right;
  padding: 10px;
  border: 1px solid black;
}

#holder {
  padding: 10px;
  border: 1px solid black;

}


/*
#main{
  position:absolute;
  width:100px;
  height:20px;
  border:1px solid black;
  padding:10px;
}
#main > div{
  float:right;
  margin:10px;
}
#d1, #d2{
  width:20px;
  height:20px;
}
*/
