// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.field_in_line {
  float: left;
  padding-left: 10px;
}

textarea {
  resize: vertical;
}

.checkbox_field {
  float: right;
  padding: 10px;
  border: 1px solid black;
}

.resubmit {
  background-color: #F5F5DC;
}

.merit {
  background-color: #cce3b5;
}
