<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @presentation_item.category %>
</p>

<%= link_to 'Edit', edit_presentation_item_path(@presentation_item) %> |
<%= link_to 'Back', presentation_items_path %>
